*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height:100vh;
}
#back{
    width: 100%;
    height:100vh;  
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    width: 100%;
    height:100vh;
    position: absolute;
   top:0;
   left: 0;
   pointer-events: none;
}
.working-area{
    width:80%;
    margin:0 auto;
    max-width: 1920px;
    height: 100vh;
    position: relative;
}
.nav{
    width: 100%;
    padding:40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.nav img{
    height: 60px;
}
.nleft,.nright{
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.nav a{
    color:rgb(244, 241, 241);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    pointer-events: all;
}
.heroine{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
    width: 100%;
    display: flex;
   justify-content: space-between;  
}
.heroine-left{
    min-width: 50%; padding-top: 120px; 
}
.heroine-left .elem h1{
    font-family: "kajiro";
    color: white;
    font-weight: 100;
    font-size:11vw ;
    position: absolute;line-height: .9;
    top:100%;
    left: 0;

}
.heroine-left h1:nth-child(1){
    top:0;
}
.heroine-left .elem{
    height: 9vw;
    overflow: hidden;
    position: relative;
}
.heroine-right{
    width: 20%;
color: white;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.heroine-left button{
    padding: .8vw 2vw;
    font-size: 2vw;
    font-family: "kajiro";
    margin-top: 2vw;
    pointer-events: all;
}
.heroine-right p{
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
.heroine-right .imagediv{
    width:100%;
    height: 170px;
   background-image: url(https://plus.unsplash.com/premium_photo-1667520040043-6568c877431e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.heroine-right p:nth-child(3){
    margin-bottom: 100px;
    margin-top: 80PX;
}

